#mainTopic{
    color: blue;
    color: orange;
    background-color: aqua;
    background-color: green;
}
*{
    text-align: center;
}
h1{
    font-family: georgia;
}
.para{
    color:white;
    background-color: cornflowerblue;
}
div button{
    background-color: purple;
    color:azure;
   
}
button:hover{
    background-color: yellow;
    color:blue;

}
p:nth-child(odd){
    color:yellow;
}
h1::first-letter{
    color:red;
}
input[type="checkbox"]:checked + label{
    color: darkgreen;
}